In [1]:
import pandas as pd

In [13]:
data = {'age': [10,10,10,10,10,10,15,15,15,15,15,15,15,15,16,16,16,16,16,16,18,18,18,18,18,18,20,20,20,20,20,25,25,25,25,25,25,30,30,30,30,30,30,35,35,35,35,35,40,40,40,40,40,40,40,45,45,50,50], 
        'liked movie':[1,1,1,0,0,0,1,1,1,1,0,0,0,0,1,1,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0]}

In [15]:
df=pd.DataFrame(data=data)

In [17]:
df

    age  liked movie
0    10            1
1    10            1
2    10            1
3    10            0
4    10            0
5    10            0
6    15            1
7    15            1
8    15            1
9    15            1
10   15            0
11   15            0
12   15            0
13   15            0
14   16            1
15   16            1
16   16            1
17   16            0
18   16            0
19   16            0
20   18            1
21   18            1
22   18            0
23   18            0
24   18            0
25   18            1
26   20            1
27   20            0
28   20            0
29   20            0
30   20            1
31   25            1
32   25            0
33   25            0
34   25            0
35   25            0
36   25            1
37   30            1
38   30            0
39   30            0
40   30            0
41   30            0
42   30            1
43   35            0
44   35            0
45   35            0
46   35            0
47   35            0
48   40            1
49   40            0
50   40            0
51   40            0
52   40            0
53   40            0
54   40            0
55   45            0
56   45            0
57   50            0
58   50            0

In [18]:
df.to_csv('./data/movie.csv')